*{
    margin: 0;
    padding: 0;
    /* background-color:rgb(123, 121, 118); */
    background-image: url("https://img.freepik.com/free-photo/shopping-bag-cart_23-2148879372.jpg?w=1060&t=st=1705555294~exp=1705555894~hmac=a9d9e2a908e4a24de87a26e5c0f9973fb5f0594b8237301c98fdc8df72eeecef");
    background-repeat: repeat;

    
}

/* .container img{
    width: 200px;
    height: 200px;
    margin: 30px 40px;
} */
.nav ul  {
    display: flex;
    float:right;  
    list-style: none;
    gap: 12px;
    padding-right:10px ;

}
.nav ul li a{
        text-decoration: none; 
        color: black;
        background-color: antiquewhite;  
}
a:hover{
    font-size: bold;
    cursor: pointer;
}
.cardinfo
{
    display: flex;
    justify-content: center;

}
.card ul{
    display: flex;
    flex-direction:column;
    float: right;
    list-style: none;
    gap: 12px;
    padding-right: 10px;
}

.card{

    background-color: azure;
    width: 150px;
    height: 210px;
    margin: 30px 40px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 40px;
}
.card p{
    background-color: azure;
    font-weight: bold;
    padding-left: 0px;
}
button{
    padding: 2px;
    margin: 2px;
    cursor: pointer;
    background-color:rgb(226, 226, 55);
}